*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#work-table {
    width: 80%;
    margin: 0 auto;
}
#work-table tbody td{
    padding: 10px;
    border-bottom: 1px solid grey;
}
#work-table tbody td:nth-child(1), #work-table tbody td:nth-child(3), #work-table tbody td:nth-child(4) {
    text-align: center;
}
#work-table tbody tr:nth-child(even) {
    background: #ededed;

}
#work-table thead td{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border:1px solid #fff;
}